body { margin: 0 }

header { text-align: right; }
header h1 { background-color: #f1e05a; color: black; padding: 20px; margin: 0; }
header p { padding-right: 20px; margin-top: 5px; }

main { margin: 10px 30px; }

.back-arrow { text-decoration: none; }